<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>webDemo3</display-name>
  <welcome-file-list>
    <welcome-file>/html/index.html</welcome-file>
  </welcome-file-list>
    <filter>
  <filter-name>loginChecked</filter-name>
  <filter-class>com.woniuxy.filter.LoginChecked</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>loginChecked</filter-name>
  <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>login_servlet</servlet-name>
    <servlet-class>com.woniuxy.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_servlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register_servlet</servlet-name>
    <servlet-class>com.woniuxy.servlet.registerServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register_servlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>drop_servlet</servlet-name>
    <servlet-class>com.woniuxy.servlet.dropServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>drop_servlet</servlet-name>
    <url-pattern>/drop</url-pattern>
  </servlet-mapping>

  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fmt-rt</taglib-uri>
      <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core-rt</taglib-uri>
      <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/sql-rt</taglib-uri>
      <taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/x</taglib-uri>
      <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/x-rt</taglib-uri>
      <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>